## Integer Conversion

In [4]:
# integer to float
int_value=16
float_value=float(int_value)
print(float_value)

16.0

In [2]:
# integer to complex numbers
int_value=16
complex_value=complex(int_value)
print(complex_value)

(16+0j)

In [9]:
# integer to boolen
int_value=0
boolean_value=bool(int_value)
print(boolean_value)

int_value=10
boolean_value=bool(int_value)
print(boolean_value)

int_value=-10
boolean_value=bool(int_value)
print(boolean_value)

False
True
True

In [11]:
# integer to String
int_value=4
str_value=str(int_value)
print(type(str_value))

<class 'str'>

In [15]:
# integer to list
int_value=28
list_value=list(int_value)
print(list_value)

TypeError: 'int' object is not iterable

In [16]:
# integer to tuple
int_value=28
tuple_value=tuple(int_value)
print(tuple_value)

TypeError: 'int' object is not iterable

In [14]:
# integer to set
int_value=28
set_value=set(int_value)
print(set_value)

TypeError: 'int' object is not iterable

In [17]:
# integer to dict
int_value=28
dict_value=dict(int_value)
print(dict_value)

TypeError: 'int' object is not iterable