## Integer Conversion

In [4]:
# integer to float
int_value=16
float_value=float(int_value)
print(float_value)

16.0

In [2]:
# integer to complex numbers
int_value=16
complex_value=complex(int_value)
print(complex_value)

(16+0j)

In [9]:
# integer to boolen
int_value=0
boolean_value=bool(int_value)
print(boolean_value)

int_value=10
boolean_value=bool(int_value)
print(boolean_value)

int_value=-10
boolean_value=bool(int_value)
print(boolean_value)

False
True
True

In [11]:
# integer to String
int_value=4
str_value=str(int_value)
print(type(str_value))

<class 'str'>

In [15]:
# integer to list
int_value=28
list_value=list(int_value)
print(list_value)

TypeError: 'int' object is not iterable

In [16]:
# integer to tuple
int_value=28
tuple_value=tuple(int_value)
print(tuple_value)

TypeError: 'int' object is not iterable

In [14]:
# integer to set
int_value=28
set_value=set(int_value)
print(set_value)

TypeError: 'int' object is not iterable

In [17]:
# integer to dict
int_value=28
dict_value=dict(int_value)
print(dict_value)

TypeError: 'int' object is not iterable

## Floating coversion

In [1]:
# float to integer
float_value=12.6
int_value=int(float_value)
print(int_value)

12

In [2]:
# float to complex
float_value=12.6
complex_value=complex(float_value)
print(complex_value)

(12.6+0j)

In [4]:
# float to boolean
float_value=12.6
bool_value=bool(float_value)
print(bool_value)

float_value=0
bool_value=bool(float_value)
print(bool_value)
float_value=-2

bool_value=bool(float_value)
print(bool_value)

True
False
True

In [5]:
# float to string
float_value=12.6
str_value=str(float_value)
print(type(str_value))

<class 'str'>

In [6]:
# float to list
float_value=12.6
list_value=list(float_value)
print(list_value)

TypeError: 'float' object is not iterable

In [8]:
# float to tuple
float_value=12.6
tuple_value=tuple(float_value)
print(tuple_value)

TypeError: 'float' object is not iterable

In [9]:
# float to set
float_value=12.6
set_value=set(float_value)
print(set_value)

TypeError: 'float' object is not iterable

In [10]:
# float to dict
float_value=12.6
dict_value=dict(float_value)
print(dict_value)

TypeError: 'float' object is not iterable

## boolean conversion

In [15]:
# boolean to integer
bool_value=True
int_value=int(bool_value)
print(int_value)

1

In [16]:
# boolean to float
bool_value=True
float_value=float(bool_value)
print(float_value)

1.0

In [21]:
# boolean to complex
bool_value=True
complex_value=complex(bool_value)
print(complex_value)

bool_value=False
complex_value=complex(bool_value)
print(complex_value)

(1+0j)
0j

In [18]:
# boolean to string
bool_value=True
str_value=str(bool_value)
print(type(str_value))

<class 'str'>

In [22]:
# boolean to list
bool_value=True
list_value=list(bool_value)
print(list_value)

TypeError: 'bool' object is not iterable

In [23]:
# boolean to tuple
bool_value=True
tuple_value=tuple(bool_value)
print(tuple_value)

TypeError: 'bool' object is not iterable

In [24]:
# boolean to set
bool_value=True
set_value=set(bool_value)
print(set_value)

TypeError: 'bool' object is not iterable

In [25]:
# boolean to dict
bool_value=True
dict_value=dict(bool_value)
print(dict_value)

TypeError: 'bool' object is not iterable

## Complex conversions

In [27]:
# complex to integer
complex_value=16+4j
int_value=int(complex_value)
print(int_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [28]:
# complex to float
complex_value=16+4j
float_value=float(complex_value)
print(float_value)

TypeError: float() argument must be a string or a real number, not 'complex'

In [33]:
# complex to boolean
complex_value=16+4j
bool_value=bool(complex_value)
print(bool_value)

complex_value=-16-4j
bool_value=bool(complex_value)
print(bool_value)

True
True

In [31]:
# complex to string
complex_value=16+4j
str_value=str(complex_value)
print(str_value)
print(type(str_value))

(16+4j)
<class 'str'>

In [34]:
# complex to list
complex_value=16+4j
list_value=list(complex_value)
print(list_value)

TypeError: 'complex' object is not iterable

In [35]:
# complex to tuple
complex_value=16+4j
tuple_value=tuple(complex_value)
print(tuple_value)

TypeError: 'complex' object is not iterable

In [36]:
# complex to set
complex_value=16+4j
set_value=set(complex_value)
print(set_value)

TypeError: 'complex' object is not iterable

In [37]:
# complex to dict
complex_value=16+4J
dict_value=dict(complex_value)
print(dict_value)

TypeError: 'complex' object is not iterable

## String Conversions

In [46]:
# string to integer
str_value="1236"
int_value=int(str_value)
print(int_value)

str2_value="supriya"
int_value2=int(str2_value)
print(int_value2)

1236

ValueError: invalid literal for int() with base 10: 'supriya'

In [49]:
# string to float
str_value="176"
float_value=float(str_value)
print(float_value)

176.0

In [53]:
# string to complex
str_value="12+4j"
complex_value=complex(str_value)
print(complex_value)

(12+4j)

In [56]:
# string to boolean
str_value="supriya"
bool_value=bool(str_value)
print(bool_value)

str_value=""
bool_value=bool(str_value)
print(bool_value)

True
False

In [57]:
# string to list
str_value="Supriya"
list_value=list(str_value)
print(list_value)

['S', 'u', 'p', 'r', 'i', 'y', 'a']

In [58]:
# string to tuple
str_value="Supriya"
tuple_value=tuple(str_value)
print(tuple_value)

('S', 'u', 'p', 'r', 'i', 'y', 'a')

In [61]:
# string to set
str_value="Supriya.putta"
set_value=set(str_value)
print(set_value)

{'a', 'S', 't', 'u', '.', 'i', 'y', 'r', 'p'}

In [63]:
# string to dict
str_value="Supriya:sup"
dict_value=dict(str_value)
print(dict_value)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

## List Coversions

In [77]:
# list to integer
list_value=[3,8,7,2]
int_value=int(list_value)
print(int_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [79]:
# list to float
list_value=[16.2,.7,3.9]
float_value=float(list_value)
print(float_value)

TypeError: float() argument must be a string or a real number, not 'list'

In [80]:
# list to complex
list_value=[16.2,.7,3.9]
complex_value=complex(list_value)
print(complex_value)

TypeError: complex() first argument must be a string or a number, not 'list'

In [83]:
# list to boolean
list_value=[2,4,7]
bool_value=bool(list_value)
print(bool_value)

list_value=[]
bool_value=bool(list_value)
print(bool_value)

True
False

In [84]:
# list to string
list_value=["supriya", "putta", "MCA"]
str_value=str(list_value)
print(str_value)

['supriya', 'putta', 'MCA']

In [85]:
# list to tuple
list_value=["supriya", "putta", "MCA"]
tuple_value=tuple(list_value)
print(tuple_value)

('supriya', 'putta', 'MCA')

In [86]:
# list to dict
list_value=["supriya", "putta", "MCA"]
dict_value=dict(list_value)
print(dict_value)

ValueError: dictionary update sequence element #0 has length 7; 2 is required

## Tuple Conversions

In [1]:
# tuple to integer
tuple_value=("supriya", "putta", "MCA")
int_value=int(tuple_value)
print(int_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [2]:
# tuple to float
tuple_value=("supriya", "putta", "MCA")
float_value=float(tuple_value)
print(float_value)

TypeError: float() argument must be a string or a real number, not 'tuple'

In [3]:
# tuple to complex
tuple_value=("supriya", "putta", "MCA")
complex_value=complex(tuple_value)
print(complex_value)

TypeError: complex() first argument must be a string or a number, not 'tuple'

In [4]:
# tuple to boolean
tuple_value=("supriya", "putta", "MCA")
bool_value=bool(tuple_value)
print(bool_value)

True

In [5]:
# tuple to String
tuple_value=("supriya", "putta", "MCA")
str_value=str(tuple_value)
print(str_value)

('supriya', 'putta', 'MCA')

In [6]:
# tuple to List
tuple_value=("supriya", "putta", "MCA")
list_value=list(tuple_value)
print(list_value)

['supriya', 'putta', 'MCA']

In [7]:
# tuple to dict
tuple_value=("supriya", "putta", "MCA")
dict_value=dict(tuple_value)
print(dict_value)

ValueError: dictionary update sequence element #0 has length 7; 2 is required

## Dict Conversion